<%- include ('../header') %>
<%- include ('../sidebar') %>

    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <script type="text/javascript" src="./js/formValidation.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>

    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-primary-gradient">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h2 class="text-white pb-2 fw-bold">Inserimento</h2>
                            <h5 class="text-white op-7 mb-2">Commissione Internazionale</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner py-5 text-center" >
                <img class="logoEA" src="/img/EasyAgreement_Logo.png" alt="logo Easy Agreement">
                <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
                <hr>
                <form style="width: 50%; margin: auto;" id="formCompile" method="post" action="/addCommiInter"><br>
                    <div class="form-label-group">
                        <input type="text" id="inputNameCI" class="form-control" name="inputNameCI" placeholder="Nome" required >
                        <label for="inputNameCI">Nome<label>
               
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputSurnameCI" class="form-control" name="inputSurnameCI" placeholder="Cognome"  required >
                        <label for="inputSurnameCI">Cognome</label>
                       

                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputEmailCI" class="form-control" name="inputEmailCI" placeholder="E-Mail" required >
                        <label for="inputEmailCI">E-Mail</label>
                       

                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Password"  required >
                        <label for="inputPassword">Password</label>
                        <span id="errPassword">Password non valida</span>

                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputRePassword" class="form-control" name="inputRePassword" placeholder="Ripeti Password"  required >
                        <label for="inputRePassword"> Ripeti Password</label>
                        <span id="errConfirmPassword">La password non corrisponde</span>

                    </div>

                    <hr>
                    <button class="btn btn-secondary btn-round form-group" type="submit" class="saveButton" id="send">Aggiungi</button>
                </form>
        <!-- /#page-content-wrapper -->
    </div>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle ").click(function(e) {
            e.preventDefault();
            $("#wrapper ").toggleClass("toggled ");
        });
    </script>

  


<%- include ('../footer') %>
