<%- include ('header') %>
<%- include ('sidebar') %>
<link href="/css/simple-sidebar.css" rel="stylesheet">
<script type="text/javascript" src="/js/cookie.js"></script>
<link rel="stylesheet" href="/css/atlantis.min.css">
<link rel="stylesheet" href="/css/list.css">

<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Gestione Colloqui</h2>
                        <h5 class="text-white op-7 mb-2">Seleziona il tipo di utente da visualizzare</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner py-5">
            <img class="logoEA" src="/img/EasyAgreement_Logo.png" alt="logo Easy Agreement">
            <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
            <hr>
            <br>
            <div class="form-group">           
                <div class="list_version">
                    <label>Scegli la lista di utenti da visualizzare: </label>
                        <select class="custom-select mr-sm-2"  name="inputType" id="tipo">
                            <option selected id="selected" value="">--Seleziona--</option>
                            <option id="student" value="student">Studenti</option>
                        </select>
                </div>       
            </div>
            <div class="elements"></div>
        </div>
    </div>
<script>

    function appendStudentList(student){
        $('.elements').append([
        '<div class="card">',
		        '<div class="card__image"></div>',
		        '<div class="card__copy">',
			        '<h3>'+student.Name+' '+student.Surname+'</h3>',
                    '<h4 class="toPass">'+student.StudentID+'</h4>',
                    '<h4 class="toPass">'+student.Email+'</h4>',
                    '<form method="POST" action="/insertAppointment?studentID='+student.StudentID+'">',
                    '<input type="text" id="inputDate" class="form-control" name="inputDate" placeholder="Inserisci la data del colloquio" required >',
                    '<input type="text" id="inputSchedule" class="form-control" name="inputSchedule" placeholder="Inserisci l\'orario del colloquio" required >',
                    '<button class="btn btn-secondary btn-round form-group" class="infoAppuntamentoButton" type="submit">Organizza Colloquio</button>',
                    '</form>',
		        '</div>',
            '</div>'].join('\n'))
    }

    function appendNothing(){
        $('.elements').append(['Nessun utente trovato'].join('\n'))

    }

    $(document).ready(function(){
        $('.custom-select').on('change', function(){
            $('.elements').empty()
            var selected=this.value
            $.ajax({
                type: 'POST',
                url: '/getUserList',
                data: {type: selected},
                success: function(result){
                    var i;
                    if(selected == 'student'){
                        $('.elements').append('<section class="cards clearfix">')
                        for(i=0; result[i]!=null; i++){
                            if(i>1){
                                if((i%3) == 0){
                                    $('.elements').append('</section>')
                                }
                            }
                            appendStudentList(result[i])
                        }
                    }
                }
            })
        })
    })

</script>
<%- include ('footer') %>
                        
                        