<div id='calendar-container'>   
    <div id='calendar'></div>
  </div>



  <style>
    html, body {
      font-size: 14px;
      background: #e2e2e2;
    }
    #calendar{
      width: 80%;
      margin-left: 100px;
      box-shadow: 0px 0px 10px #000;
      padding:15px; 
      background: #fff;
    }
    #calendar-container {
      position: fixed;
      top: 0%;
      text-align: center;
      left: 10%;
      right: 10%;
      bottom: 20%;
    }
  </style>
  